* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lato", sans-serif;
}

h2 {
    font-weight: 700;
    margin-bottom: 10px;
}

p {
    font-size: 20px;
    font-weight: 300;
}

.site-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    background-color: #F8F9FA;
}

.logo {
    color: black;
    font-size: 20px;
    font-weight: 400;
}

.sign-up-btn {
    color: white;
    background-color: #0D6EFD;
    padding: 15px 20px;
    border-radius: 10px;
    border: none;
}

.hero-section,
.signup-section {
    background-image: url(/images/img/bg-masthead.jpg);
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-content {
    max-width: 50%;
    text-align: center;
}

.hero-title,
.signup-title {
    font-size: 48px;
    color: white;
    margin-bottom: 40px;
}

.email-form {
    display: flex;
    gap: 20px;
}

.email-input {
    width: 100%;
    padding: 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    flex: 1;
    background-color: #fff;
    border-radius: 10px;
}

.submit-button {
    padding: 20px;
    font-size: 16px;
    color: #fff;
    background-color: #0D6EFD;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-button:hover {
    background-color: #b9cdebfc;
}

.features-section {
    display: flex;
    justify-content: space-between;
    padding: 100px;
    background-color: #F8F9FA;
}

.feature {
    max-width: 300px;
    text-align: center;
}

.feature-title {
    font-family: 27px;
}

.feature-description {
    font-size: 20px;
}

.highlights {
    display: flex;
    align-items: center;
    width: 100%;
    height: 50%;
}

.highlights-2 {
    flex-direction: row-reverse;
}

.highlights-img {
    width: 50%;
    height: inherit;
}

.highlights-content {
    text-align: center;
    width: 40%;
    margin: 0 auto;
}

.highlights-title {
    font-size: 30PX;
}

.highlights-desc {
    font-size: 20PX;
}

.testimonials-section {
    text-align: center;
    padding: 100px;
    background-color: #F8F9FA;
}

.testimonials-section h1 {
    margin-bottom: 40px;
}

.testimonials {
    display: flex;
    justify-content: space-between;
}

.testimonial {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 250px;
}

.testimonials-section h1 {
    font-size: 30px;
    margin-bottom: 40px;
}

.testimonial-img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.testimonial-quote {
    font-size: 16px;
}

.signup-section {
    height: 300px;
}

.signup-title {
    font-size: 28px;
}

footer {
    background-color: #F8F9FA;
    display: flex;
    justify-content: space-between;
    padding: 50px;
}

.footer-social {
    display: flex;
    align-items: center;
    gap: 20px;
}

.footer-social i {
    font-size: 30px;
}

.footer-links {
    display: flex;
    gap: 10px;
    list-style: none;
}


/* Tablet Styles */
@media (max-width: 768px) {
    .site-nav {
        padding: 10px 20px;
    }

    .hero-content {
        max-width: 80%;
    }

    .hero-section,
    .signup-section {
        height: 50vh;
    }

    .features-section {
        flex-direction: column;
        align-items: center;
        padding: 50px;
    }

    .feature {
        margin-bottom: 30px;
    }

    .feature-img {
        width: 80px;
    }

    .highlights {
        flex-direction: column;
    }

    .highlights-img {
        width: 100%;
    }

    .highlights-content {
        width: 100%;
        padding: 80px 50px;
    }

    .testimonials {
        flex-direction: column;
        align-items: center;
    }

    .testimonial {
        margin-bottom: 30px;
    }

    .footer {
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }
}

/* Mobile Styles */
@media (max-width: 480px) {
    .site-nav {
        padding: 10px;
    }

    .hero-content {
        max-width: 100%;
    }

    .hero-title,
    .signup-title {
        font-size: 28px;
    }

    .email-form {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .email-input {
        width: 80%;
    }

    .features-section {
        padding: 50px 20px;
    }

    .highlights-content {
        text-align: left;
    }

    .testimonials-section {
        padding: 70px 20px;
    }

    .testimonials-section h1 {
        font-size: 27px;
        margin-bottom: 40px;
    }

    .signup-section {
        height: auto;
        padding: 50px 20px;
    }

    footer {
        padding: 20px;
    }
}